*{
box-sizing: border-box;
margin: 0;
padding: 0;

}
body{
    min-width: 250px;
   
}

.txt-promocion input{
    width: 285px;
    
  }

/*                  HEADER STYLES */
.section-container{
display: none;
}

.contenido-accesorio{
    display: none;
}

.contenido-mascarilla{
    display: none;
}

header{
    
    background-color: #ea9598;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img-container{
  width: 20px;
}

#icon-header{
    width: 100%;
    height: 100%;
    object-fit: cover; 
 
}

.text-header-container{
 
    color: white;
    font-size: 50px;
}

/*                      SECTION TEXT                */
/* .section-container{
    display:flex;
   flex-direction: column;
   align-items: center;
    
} */
.section-text{
    padding: 10px;
   color: #ec5c61;
   font-weight: bold;
}

/*              nav                  */

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.nav-icon{
    width: 20px;
    
}

.nav-items{

    display: flex;
    gap: 15px;
    padding: 10px;
    background-color: #ec5c61;
    width: 100%;
    text-align: center;
    color: white;
    border-top: 1px solid white;
    justify-content: center;
}





/*               ACCESORIOS            */

.accesorios-container{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ea9598;
    border-top: 1px solid white;
}

.img-accesorio-container{
    position: relative;
    display: flex;
    flex-direction: row;
   justify-content: center;

}

.img-accesorio{
    width: 224px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 500;
    height:224px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
   
}

.txt-accesorio{
    position: absolute;    
    padding: 5px;
    border-radius: 50%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .7);
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

/*              PROMOCION            */
.promocion-container{
    display: flex;
    flex-direction: column;
  justify-content: center;
}

.txt-promocion{
    background-color: #ec5c61;
    width: 100%;
    color: white;
    text-align: center;
    border: 1px solid #ea9598; 
}

input{
    width: 90%;
    margin-bottom: 10px;
}
input::placeholder{
    text-align: center;
}
input{
border-color: rgb(230, 218, 218);
border-radius: 5px;
}



/*          MASCARILLA           */
.mascarilla-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    border-top: 1px solid white;
    justify-content: center;
    background-color: #ea9598;
}

.img-mascarilla{
    width: 224px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 500;
    height:224px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img-mascarilla-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.txt-mascarilla{
    position: absolute;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .7);
    color: white;
    border-radius: 50%;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contenido-mascarilla{
    color: white;
}

#promocion{
    border-top: 1px solid white;
}

h2{
  border-top: 1px solid white;
}

.p{
   border-top: 1px solid white;
}

/*              FOOTER           */
.footer-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    background-color: #ec5c61;
    border-top: 1px solid white;
    justify-content: center;
}

.icon-footer{
    width: 25px;
    background-color: #ec5c61;
    list-style: none;
    display: block;
    padding: 3px;
    margin: 0 5px;
}

.copy{
    background-color: #ec5c61;
    border-top: 1px solid white;
    font-size: 10px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: lighter;
    padding: 1px;
}

.copy a[href^='htt']{
    color: white;
    
}



@media(min-width: 520px){



    .nav-container{
        display: none;
    }
    /*        SECTION CONTAINER   */
    
    .section-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    /*          ACCESORIO        */

    .accesorios-container{
     
    }

    .img-accesorio-container{
        width: 50%;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-right: 1px solid white;
        
        
        
    }
    .txt-img{
        width: 50%;
        padding-right: 5%;
    }
   
   .contenido-accesorio{
    width: 50%;
       display: flex;
       flex-direction: row;
        padding: 0;
        padding: 30px 30px;
       align-items: center;
       text-align: center;
       line-height: 30px;
       color: white;

   }

   /*           MASCARILLA           */

   .contenido-mascarilla{
       width: 50%;
       display: flex;
       flex-direction: row;
        padding: 0;
        padding: 0 30px;
       align-items: center;
       text-align: center;
       line-height: 30px;
   }

   .img-mascarilla-container{
       width: 50%;
      display: flex;
      flex-direction: row;
      position: relative;
      justify-content: center;
      border-left: 1px solid white;
   }
}